@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}
<div class="box" style="text-align:center;">
    <h2 class="title">About QuickBus</h2>
    <p>QuickBus is a modern bus booking platform for passengers and admins.</p>
</div>
