@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<div class="box" style="text-align:center;">
    <h2 class="title">Welcome to QuickBus</h2>
    <p>Book your bus journeys easily and quickly.</p>
    <img src="~/img/bus.jpg" alt="Bus" style="max-width: 100%; height: auto;" />
</div>
