@{
    ViewData["Title"] = "Passenger Dashboard";
    Layout = "_Layout";
}
<h2 class="title">Passenger Dashboard</h2>
<div class="box" style="display:flex; flex-wrap:wrap; gap:2rem; justify-content:center;">
    <div style="flex:1 1 220px; min-width:220px;">
        <div class="box">
            <h3 class="subtitle">Counters</h3>
            <p class="is-size-4" style="font-size:2rem;">@ViewBag.CounterCount</p>
            <div class="button-group">
                <a href="/Passenger/Counters" class="button is-green">More</a>
            </div>
        </div>
    </div>
    <div style="flex:1 1 220px; min-width:220px;">
        <div class="box">
            <h3 class="subtitle">Journeys</h3>
            <p class="is-size-4" style="font-size:2rem;">@ViewBag.JourneyCount</p>
            <div class="button-group">
                <a href="/Passenger/Journeys" class="button is-green">More</a>
            </div>
        </div>
    </div>
    <div style="flex:1 1 220px; min-width:220px;">
        <div class="box">
            <h3 class="subtitle">My Bookings</h3>
            <p class="is-size-4" style="font-size:2rem;">@ViewBag.MyJourneyCount</p>
            <div class="button-group">
                <a href="/Passenger/MyJourneys" class="button is-green">More</a>
            </div>
        </div>
    </div>
</div>
